@import "../../settings.scss";
.App-dwarf1 {
  @media all and (max-width: $xl) {
    margin-right: 0;
  }
  @media all and (max-width: $md) {
    margin-right: 0;
    padding-bottom: var(--large-margin);
  }
  background: var(--secondary-bg);
  margin-right: -100px;
  .App-dwarf1-art {
    @media all and (max-width: $md) {
      max-height: 600px;
      overflow: hidden;
      margin-left: 0;
      padding-bottom: 0;
    }
    background: var(--primary-bg);
    padding-bottom: 150px;
    margin-left: -100px;
    img {
      @media all and (max-width: $md) {
        min-height: unset;
        object-fit: cover;
        width: 100%;
      }
      min-height: 716px;
      object-fit: cover;
    }
  }

  .App-dwarf1-info {
    @media all and (max-width: $md) {
      grid-column: unset;
      grid-template-columns: unset;
      margin: 0 6px;
      padding-left: unset;
      padding-top:var(--medium-margin);
    }
    display: grid;
    padding-top:150px;
    align-self: flex-start;
    grid-column: 2 / span 2;
    padding-left: var(--medium-margin);
    // padding-right: var(--medium-margin);
    grid-template-columns: 1fr 320px;
    .by-title-text {
      grid-column: 1 / span 1;
      font-weight: bold;
      color: var(--primary-color-title);
      font-size: 26px;
      text-transform: uppercase;
    }
    .by-description-text {
      @media all and (max-width: $md) {
        margin-right: unset;
      }
      grid-column: 1;
      grid-row: 2;
      font-size: var(--desc-font-size);
      color: var(--primary-color-title);
      font-weight: normal;
      margin-right: var(--medium-margin);
    }
  }
}
