@import "../../settings.scss";

.by-wrapper {
  @media all and (max-width: $lg) {
    max-width: 100vw;
    overflow: hidden;
  }
  @media all and (max-width: $md) {
    max-width: 100vw;
    overflow: hidden;
  }
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  
}
