@import "../../settings.scss";
.App-feedback {
  @media all and (max-width: $md) {
    padding-bottom: var(--large-margin);
  }
  padding-bottom: 10.75rem;
  position: relative;
  &::before {
    @extend %bg-left;
  }
  .by-slider-contrainer {
    grid-column: 1 / span 3;
    display: grid;

  }
  .App-title-with-divider {
    @media all and (max-width: $xl) {
      margin-right: 0;
    }
    @media all and (max-width: $md) {
      margin-left:6px;
      border-bottom: 4px solid #303030;
    }
    display: grid;
    grid-template-columns: 336px 1fr;
    grid-column: 1 / span 3;
    border-bottom: 2px solid #000;
    margin-right: -100px;
    .by-titleblock-text {
      @media all and (max-width: $lg) {
        margin-left:var(--text-side-padding);
      }
      @media all and (max-width: $md) {
        margin-left:unset;
        width:260px;
      }
    }
    .by-wrapper-pagination {
      @media all and (max-width: $lg) {
        margin-right: var(--text-side-padding);
      }
      @media all and (max-width: $md) {
        margin-right:unset;
        display:none;
      }

      grid-column: 2;
      justify-self: flex-end;
      :last-child {
        margin-right: 0;
      }
    }
  }
  .by-wrapper-slider {
    @media all and (max-width: $xl) {
      margin-right: 0;
      margin-left: 0;
    }
    @media all and (max-width: $md) {
      margin-right: 0;
      margin-left: 0;
    }
    margin-top: var(--medium-margin);
    margin-right: -100px;
  }
  .by-slider-contrainer {

    .by-wrapper-pagination {
      @media all and (max-width: $md) {
        margin-top:var(--medium-margin);
        display:flex;
        justify-self: center;;
      }
      display:none;

    }
  }
}