.by-mini-preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  z-index: 999;
  width: 30px;
  height: 30px;
  overflow: visible;
  background: transparent url("../../assets/preloader.gif") no-repeat center
    center;
  background-size: 25px 25px;

  .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
}
