@import "../../settings.scss";
:root {
  --by-footer-height: 57px;
  --by-footer-background: #1a1a1a;
  --by-footer-color: #fff;
  --by-footer-font-size: 14px;
  --by-footer-hover-color: #919191;
}
.by-footer {
  height: var(--by-footer-height);
  background: var(--by-footer-background);
  color: var(--by-footer-color);
  text-align: center;
  font-size: var(--by-footer-font-size);
  display: grid;
  align-content: center;
  .made-with-soul {
    @media all and (max-width: $md) {
      display: none;
    }
  }
  a.by-mailto {
    color: var(--by-footer-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.25s, color 0.25s;
    &:hover {
      border-color: var(--by-footer-color);
      color: var(--by-footer-hover-color);
    }
  }
}
