@import "../../settings.scss";
.App-works {
  @media all and (max-width: $xl) {
    margin-right: 0;
  }
  @media all and (max-width: $md) {
    margin-right: 0;
    padding-bottom: var(--large-margin);
  }
  // background: var(--secondary-bg);
  margin-right: -100px;
  padding-bottom: 321px;
  .App-works2-art {
    @media all and (max-width: $md) {
      max-height: 240px;
      overflow: hidden;
      margin-left: 0;
    }
    //background: var(--primary-bg);
    padding-bottom: var(--large-margin);
    margin-left: 80px;
    margin: 0 auto;
    img {
      @media all and (max-width: $md) {
        max-height: 240px;
        min-height: unset;
        object-fit: cover;
        width: 100%;
      }
      //min-height: 716px;
      height: 250px;
      object-fit: cover;
    }
  }

  .App-works2-info {
    @media all and (max-width: $md) {
      grid-column: unset;
      grid-template-columns: unset;
      margin: 0 6px;
      padding-left: unset;
    }
    display: grid;
    align-self: center;
    grid-column: 1;
    padding-left: var(--medium-margin);
    // padding-right: var(--medium-margin);
    grid-template-columns: 1fr 320px;
    .by-title-text {
      grid-column: 1 / span 1;
      font-weight: bold;
      color: var(--primary-color-title);
      p {

        font-size: 23px;
      }
    }
    .by-description-text {
      @media all and (max-width: $md) {
        margin-right: unset;
      }
      //grid-column: 1;
      grid-column: 2 / span 2;
      grid-row: 2;
      font-size: var(--desc-font-size);
      color: var(--primary-color-title);
      font-weight: normal;
      margin-right: var(--medium-margin);
    }
  }

  .by-title-text {
    grid-column: 1 / span 1;
    font-weight: bold;
    color: var(--primary-color-title);
    font-size: 23px;
    text-transform: uppercase;
    @media all and (max-width: $lg) {
        margin-left:6px;
    }
  }
  .App-works-consult {
    @media all and (max-width: $md) {
      display: none;
    }
    grid-column: 2;
    grid-row: 2;
    display: grid;
    align-content: flex-start;
    align-self: stretch;
    background: var(--secondary-bg);
  }
}
