$xxl: 3000px;
$xl: 1460px;
$lg: 1260px;
$md: 1023px;
$sm: 768px;
$xs: 0px;

%bg-left {
  @media all and (max-width: $xl) {
    width: calc(412px + 2000px);
  }
  @media all and (max-width: $lg) {
    width: calc(342px + 2000px);
  }
  @media all and (max-width: $md) {
    width: 100%;
  }
  background-color: var(--secondary-bg);
  content: "";
  width: calc(444px + 2000px);
  left: calc(-2000px);
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  display: block;
}
