$xxl: 3000px;
$xl: 1460px;
$lg: 1260px;
$md: 1023px;
$sm: 768px;
$xs: 0px;

%bg-left {
  @media all and (max-width: $xl) {
    width: 412px;
  }
  @media all and (max-width: $lg) {
    width: 342px;
  }
  @media all and (max-width: $md) {
    width: 100%;
  }
  background-color: var(--primary-bg);
  content: "";
  width: 442px;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  display: block;
}
