@import "../../settings.scss";
@keyframes image-center-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-130%);
  }
}

@keyframes image-right-center {
  from {
    transform: translateX(130%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes image-center-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(130%);
  }
}

@keyframes image-left-center {
  from {
    transform: translateX(-130%);
  }
  to {
    transform: translateX(0%);
  }
}
.by-wrapper-slider {
  @media all and (max-width: $md) {
    grid-template-columns: 1fr;
  }
  display: grid;
  grid-gap: 18px;
  grid-template-columns: 100px 1fr;
  overflow: hidden;
  justify-items: flex-start;
  .by-slider-buttons {
    @media all and (max-width: $md) {
      display: none;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: flex-end;
  }
  .by-slider-object-container {
    display: grid;
    justify-self: stretch;
    overflow: hidden;
    .by-slider-object {
      /* max-width: 1150px; */
      display: grid;
      grid-gap: 20px;
      grid-auto-flow: column;
      justify-items: center;
      transform: translateX(0%);
      transition: transform 0.5s;
      > {
        transition: opacity 0.25s;
      }
    }
  }
}
.by-element-tail {
  opacity: 0.5;
}
.by-carousel-custom-mini-btn {
  justify-self: center;
  align-self: center;
  --by-btn-bg-color: #848485;
  --by-btn-bg-color-hover: var(--primary-color-title);
  --by-btn-bg-color-active: var(--primary-color-title);
  --by-btn-width: 60px;
  --by-btn-height: 35px;
  --by-btn-radius: 30px;
}

.by-carousel-custom-mini-btn.left {
  grid-column: 1;
  grid-row: 1;
}

.by-carousel-custom-mini-btn.right {
  grid-column: 3;
  grid-row: 1;
}

.by-carousel-pagination {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: flex-start;
  margin: 4rem 0 0 0;
}

.by-carousel-wrapper-media-object {
  display: grid;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 270px;
  grid-column: 2;
  grid-row: 1;
}

.by-carousel-media-object {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  /* margin: 0 2em 0 2em; */
}

.by-carousel-media-object.invise {
  transform: translateX(130%);
}

.by-carousel-media-object-avatar {
  display: block;
  width: 125px;
  height: 125px;
  border-radius: 75px;
  overflow: hidden;
  justify-self: center;
}

.by-carousel-media-object-note {
  font-family: "Noteworthy";
  text-align: center;
  font-size: 1.1em;
  width: 345px;
  color: #303030;
}

.by-carousel-media-object-wrapper-sign {
  display: flex;
  justify-content: center;
}

.by-carousel-media-object-sign {
  text-align: center;
  float: left;
}

.by-carousel-media-object-sign:nth-child(1) {
  margin: 0 0 0 0;
  font-size: 1.1em;
  color: #ff4d77;
}

.by-carousel-media-object-sign:nth-child(2) {
  margin: 0 0 0 0.5em;
  font-size: 1.1em;
  color: #a2a1a1;
}
.by-slider-mini-btn {
  .by-btn {
    --by-btn-font-color: var(--primary-color-text);
    --by-btn-bg-color: transparent;
    --by-btn-bg-color-hover: transparent;
    --by-btn-bg-color-active: transparent;
    --by-btn-fill-color: var(--primary-color-title);
    --by-btn-fill-color-hover: var(--primary-color-title);
    --by-btn-fill-color-active: var(--primary-color-title);
    --by-btn-width: 50px;
    --by-btn-height: 30px;
  }
}
